{% extends 'base_home/base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login</title>
</head>


{% block content %}

    <!-- error alert -->
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}


    <!-- Add Cars -->
    <div class="modal fade right" id="modalAddNewCar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header" style="background-color: #005cbf">
                    <h4 class="heading">Add a new Car
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="modal-body text-center">

                        <p style="color: darkred">Please Check if your Location is available, otherwise you can
                            create a new one in : Add location</p>
                        <!-- location -->
                        <h6 style="margin-right: 170px">Location </h6>
                        <div style="margin-left:115px ">
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ car_form.location.id_for_label }}">
                                        <select name="{{ car_form.location.html_name }}"
                                                id="{{ car_form.location.id_for_label }}"
                                                style="width: 200px; height: 38px">
                                            {% for x, y in car_form.fields.location.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <button type="button" class="btn btn-success" style="width: max-content"
                                            data-toggle="modal"
                                            data-target="#modalAddLocation">Add Location
                                    </button>
                                </div>
                            </div>

                            <!-- carTypes -->
                            <h6 style="margin-right: 260px">Type of Car</h6>
                            <div class="form-group">
                                <div class="input-group mb-1">

                                    <label style="height: 30px;" for="{{ car_form.cartypes.id_for_label }}">
                                        <select name="{{ car_form.cartypes.html_name }}"
                                                id="{{ car_form.cartypes.id_for_label }}"
                                                style="width: 200px; height: 38px">
                                            {% for x, y in car_form.fields.cartypes.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>

                            <!-- brand -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ car_form.brand.id_for_label }}">
                                        <input type="text" name="{{ car_form.brand.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Brand" id="{{ car_form.brand.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- model -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ car_form.model.id_for_label }}">
                                        <input type="text" name="{{ car_form.model.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Model" id="{{ car_form.model.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- ps -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ car_form.ps.id_for_label }}">
                                        <input type="text" name="{{ car_form.ps.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Horse Power" id="{{ car_form.ps.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- details -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ car_form.details.id_for_label }}">
                                        <input type="text" name="{{ car_form.details.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Details" id="{{ car_form.details.id_for_label }}"
                                               required style="height: 60px;">
                                    </label>
                                </div>
                            </div>
                        </div>


                        <!-- image -->
                        <div style="margin-left: 60px">
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px; margin-top: 20px"
                                           for="{{ car_form.image.id_for_label }}">
                                        <input type="file" name="{{ car_form.image.html_name }}"
                                               class="form-control input_pass"
                                               id="{{ car_form.image.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center" style="margin-right: 25px;">
                            <button type="submit" class="btn btn-primary">Add Car</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Add Location -->
    <div class="modal fade right" id="modalAddLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header" style="background-color: #005cbf">
                    <h4 class="heading">Add a new Location
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <form method="post" enctype="multipart/form-data" action="{% url 'list_map' %}">
                    {% csrf_token %}
                    <div class="modal-body text-center">
                        <div style="margin-left:115px ">

                            <!-- plz -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.plz.id_for_label }}">
                                        <input type="text" name="{{ map_form.plz.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="PLZ" id="{{ map_form.plz.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- location -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.location.id_for_label }}">
                                        <input type="text" name="{{ map_form.location.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Location" id="{{ map_form.location.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- address -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.address.id_for_label }}">
                                        <input type="text" name="{{ map_form.address.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Address" id="{{ map_form.address.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- country -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.country.id_for_label }}">
                                        <input type="text" name="{{ map_form.country.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Country" id="{{ map_form.country.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <i class="fas fa-car"></i>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center" style="margin-right: 45px;">
                            <button type="submit" class="btn btn-primary">Add Location</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- View of all cars -->
    <h2 id="toCars">Cars</h2>
    <div class="container">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddNewCar">
            Add a new Car
        </button>
        <a href="#toLocations" class="btn btn-light">To Locations</a>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <table class="table table-image" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Location</th>
                            <th scope="col">Car Type</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for car in cars %}

                            <tr>
                                <td class="w-25">
                                    <img src="{{ car.image.url }}" alt="" style="width: 250px; height: 150px;">
                                </td>
                                <td class="filterTd brand">{{ car.brand }}</td>
                                <td class="filterTd location">{{ car.location }}</td>
                                <td class="filterTd carType">{{ car.cartypes }}</td>
                                <td><a href="{% url 'show_cars' car.id %}" class="btn btn-light">More details</a>
                                    <br>
                                    <br>
                                </td>
                                <td><a href="{% url 'delete_cars' car.id %}" class="btn btn-danger"
                                       type="button">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- View of all locations -->
    <h2 id="toLocations">Locations</h2>
    <div class="container">
        <a href="#toCars" class="btn btn-light">To Cars</a>
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                    <tr>
                        <th scope="col">PLZ</th>
                        <th scope="col">Location</th>
                        <th scope="col">Address</th>
                        <th scope="col">Country</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                        <tr>
                            <td>{{ site.plz }}</td>
                            <td>{{ site.location }}</td>
                            <td>{{ site.address }}</td>
                            <td>{{ site.country }}</td>
                            <td><a href="{% url 'update_map' site.id %}" class="btn btn-success"
                                   data-toggle="modal"
                                   data-target="#modalUpdateLocation">Update</a>
                            </td>
                            <td><a href="{% url 'delete_map' site.id %}" class="btn btn-danger" type="button"
                                   style="margin-left: -100px; margin-right: 30px">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Update Location -->

    <div class="modal fade right" id="modalUpdateLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header" style="background-color: #005cbf">
                    <h4 class="heading">Update your Location
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body text-center">
                        <div style="margin-left:115px ">

                            <!-- plz -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.plz.id_for_label }}">
                                        <input type="text" name="{{ map_form.plz.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="PLZ" id="{{ map_form.plz.id_for_label }}"
                                               value="{{ site.plz }}"
                                        >
                                    </label>
                                </div>
                            </div>

                            <!-- location -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.location.id_for_label }}">
                                        <input type="text" name="{{ map_form.location.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Location" id="{{ map_form.location.id_for_label }}"
                                               value="{{ site.location }}"
                                        >
                                    </label>
                                </div>
                            </div>

                            <!-- address -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.address.id_for_label }}">
                                        <input type="text" name="{{ map_form.address.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Address" id="{{ map_form.address.id_for_label }}"
                                               value="{{ site.address }}"
                                        >
                                    </label>
                                </div>
                            </div>

                            <!-- country -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ map_form.country.id_for_label }}">
                                        <input type="text" name="{{ map_form.country.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Country" id="{{ map_form.country.id_for_label }}"
                                               value="{{ site.country }}"
                                        >
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center" style="margin-right: 45px;">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}