{% extends 'base_home/base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
    <title>Login</title>
</head>


{% block content %}

    <!-- error alert -->
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}


    <!-- Add Cars -->
    <div class="modal fade right" id="modalAddNewCar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header" style="background-color: #005cbf">
                    <h4 class="heading">Add a new Car
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="modal-body text-center">

                        <p style="color: darkred">Please Check if your Location is available, otherwise you can
                            create a new one in the form : Add location</p>
                        <!-- location -->
                        <div style="margin-left:115px ">
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.location.id_for_label }}">
                                        <select name="id_location" id="{{ form.location.id_for_label }}"
                                                style="width: 200px; height: 38px">
                                            <option value="" selected>Location</option>
                                        </select>
                                    </label>
                                </div>
                            </div>


                            <!-- brand -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.brand.id_for_label }}">
                                        <input type="text" name="{{ form.brand.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Brand" id="{{ form.brand.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- model -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.model.id_for_label }}">
                                        <input type="text" name="{{ form.model.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Model" id="{{ form.model.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- ps -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.ps.id_for_label }}">
                                        <input type="text" name="{{ form.ps.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Horse Power" id="{{ form.ps.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- details -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.details.id_for_label }}">
                                        <input type="text" name="{{ form.details.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Details" id="{{ form.details.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- image -->
                        <div style="margin-left: 60px">
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <label style="height: 30px;" for="{{ form.image.id_for_label }}">
                                        <input type="file" name="{{ form.image.html_name }}"
                                               class="form-control input_pass"
                                               id="{{ form.image.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- Button to Add a new Location -->

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center" style="margin-right: 25px;">
                            <button type="submit" class="btn btn-primary">Add Car</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Add Location -->
    <div class="modal fade right" id="modalAddLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header" style="background-color: #005cbf">
                    <h4 class="heading">Add a new Location
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body text-center">
                        <div style="margin-left:115px ">
                            <!-- plz -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ form.plz.id_for_label }}">
                                        <input type="text" name="{{ form.plz.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="PLZ" id="{{ form.plz.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- location -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ form.location.id_for_label }}">
                                        <input type="text" name="{{ form.location.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Location" id="{{ form.location.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- address -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ form.address.id_for_label }}">
                                        <input type="text" name="{{ form.address.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Address" id="{{ form.address.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <!-- country -->
                            <div class="form-group">
                                <div class="input-group mb-1">
                                    <div class="input-group-append">
                                    </div>
                                    <label style="height: 30px;" for="{{ form.country.id_for_label }}">
                                        <input type="text" name="{{ form.country.html_name }}"
                                               class="form-control input_pass"
                                               placeholder="Country" id="{{ form.country.id_for_label }}"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-3">
                                <i class="fas fa-car"></i>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center" style="margin-right: 45px;">
                            <button type="submit" class="btn btn-primary">Add Location</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- View of all cars -->
    <div class="container">

        <!-- Button to Add a new Car -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddNewCar">
            Add a new Car
        </button>
        <button type="button" class="btn btn-success" style="width: max-content" data-toggle="modal"
                data-target="#modalAddLocation">Add Location
        </button>

        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{ cars.cars_id }}</td>
                            <td class="w-25">
                                <img src="{{ cars.image.url }}" alt="">
                            </td>
                            <td>{{ cars.brand }}</td>
                            <td>{{ cars.location }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}