{% extends 'base_home/base.html' %}

{% block tab_title %}
    Cars
{% endblock %}


{% block content %}

    <body style="background-color: #60a3bc">

    <!-- Add Cars -->
    <div class="modal fade right" id="modalAddNewLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading">Adding Location
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3">
                                {{ form.as_p }}
                                <button type="submit" class="btn-success">Add Location</button>

                                <p class="text-center"><i class="fas fa-car"></i></p>
                            </div>

                            <div class="col-9">
                                <p>Do you need more time to make a purchase decision?</p>
                                <p>No pressure, your product will be waiting for you in the cart.</p>
                            </div>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Car</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </body>
{% endblock %}