{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Login</title>
</head>

{% block content %}

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:auto">
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 120px; font-size: 25px; font-weight: bold ">AutoRent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- margin ersetzen ? -->
                <li class="nav-item active">
                    <h4 style="margin-left: 650px">Login</h4>
                </li>
                <li class="nav-item active">
                    <h4 style="margin-left: 650px"><a href="{% url 'signup' %}" style="color: black;">Sign Up</a></h4>
                </li>
            </ul>
        </div>
    </nav>

    <!-- error bar -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                    {{ error|escape }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- login file -->
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRShlE_m4vegQsZ4G6rvjJOim-jUD2HOSCktg&usqp=CAU"
                             class="brand_logo" alt="Logo">
                    </div>
                </div>

                <!-- login form -->
                <div class="d-flex justify-content-center form_container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user" style="width: 14px;"></i></span>
                            </div>
                            <label for="{{ form.username.id_for_label }}" style="height: 30px;"></label>
                            <input type="text" class="form-control input_user"
                                   id="{{ form.username.id_for_label }}"
                                   placeholder="username" name="{{ form.username.html_name }}" required>
                            {% if form.username.errors %}
                                <small class="form-text text-alert">{{ form.username.errors.0 }}</small>
                            {% endif %}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key" style="width: 14px"></i></span>
                            </div>
                            <label for="{{ form.password.id_for_label }}" style="height: 30px"></label>
                            <input type="password" class="form-control input_pass"
                                   id="{{ form.password.id_for_label }}"
                                   placeholder="password" name="{{ form.password.html_name }}" required>
                            {% if form.password.errors %}
                                <small class="form-text text-alert">{{ form.password.errors.0 }}</small>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" class="btn btn-primary"
                                    style=" margin-bottom: 40px; margin-top: 30px; width: 140px; background-color: #c0392b; border: #c0392b">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/base.js' %}"></script>

{% endblock %}
