{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- css links-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:auto">
    <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 120px; font-size: 25px; font-weight: bold ">AutoRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar buttons -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- margin ersetzen ? -->
                <h4><a class="nav-link" href="{% url 'home' %}" style="margin-left: 520px; margin-right: 50px">Home</a>
                </h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="{% url 'cars' %}">Cars</a></h4>
            </li>
            <li class="nav-item">
                <!-- margin ersetzen ? -->
                <h4><a class="nav-link" href="{% url 'map' %}" style="margin-left: 50px"> Map</a></h4>
            </li>
        </ul>

        <!-- search function-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 10px">Search
            </button>
            <!-- margin ersetzen ? -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=";
                color: blue; border-color: blue;">Filter
            </button>
              <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:10px;margin-right: 100px;
               border-color: red;" type="button"><a href="{% url 'login' %}" style="text-decoration: none; color: red;">Logout</a>
            </button>

        </form>
    </div>
</nav>

<!-- Container für Block -->
<div class="container mt-5">
    {% block content %}
    {% endblock %}
</div>

<!-- js links-->
<script src="{% static '/js/bootstrap.min.js' %}" type="test/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

</body>
</html>