{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Home</title>
</head>


{% block header %}
    <body onresize="myFunction()">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:auto">
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 120px; font-size: 25px; font-weight: bold ">AutoRent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!-- margin ersetzen ? -->
                    <h4><a class="nav-link" href="{% url 'home' %}"
                           style="margin-left: 520px; margin-right: 50px">Home</a>
                    </h4>
                </li>
                <li class="nav-item">
                    <h4><a class="nav-link" href="{% url 'list_cars' %}">Cars</a></h4>
                </li>
                <li class="nav-item">
                    <!-- margin ersetzen ? -->
                    <h4><a class="nav-link" href="{% url 'show_map' %}" style="margin-left: 50px"> Map</a></h4>
                </li>
            </ul>
            <button class="btn btn-outline-primary" style="margin-left:10px;margin-right: 100px;
               " type="submit" formmethod="post">
                <a href="{% url 'logout' %}" style="text-decoration: none; ">Logout</a>
            </button>
        </div>
    </nav>

{% endblock %}

<!-- content -->
{% block content %}
    <br>
    <br>
    <div style="text-align: center; font-size: 45px; font-weight: bold">
        {% if user.is_authenticated %}
            Willkommen auf AutoRent {{ user.username }} !!
        {% else %}
            Du bist nicht authentifiziert.
        {% endif %}
        <br>
        <br>
        <div style="align-items : center; display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 25px ">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       style="width: 400px; text-align: center; align-items: center; border-color: red; ">
                <button class="btn btn-success my-2 my-sm-0" type="submit"
                        style="width: 100px;">Search
                </button>
                <button class="btn btn-danger" type="submit" style="
                 width: 100px; margin-left: 10px">Filter
                </button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    </body>
{% endblock %}


